@model FoodDeliveryWebApp.Models.MenuViewModel;
<style>
    #btn-order{
        transition: transform .2s;
    }

    #btn-order:hover{
        transform: scale(1.05);
    }

    .working-hour-container{
        height: 550px;
    }



    /*.working-hour-img{
        object-fit: contain;
        width: 100%;
        height:550px;
        min-width: 100%;
        min-height: 550px;
    
    }*/

    @@media (max-width: 767px){
        /*#showcase{
            display: flex;
            flex-direction: column;
        }*/

        #showcase-carousel{
            width:100%;
        }

        #showcase-text, .working-hour-text {
            width:100% !important;
        }

        #btn-order
        {
            display:block;
        }

        #showcase-img, .working-hour-img {
            display:none;
        }

        .working-hour-ul{
            width: 93% !important;
        }
        .working-hour-ul li{
            width: 90% !important;
            margin: 5px !important;
        }

        .working-hour-container {
            height: 350px;
        }
    }    

</style>
@{
    ViewData["Title"] = "Home Page";

   var ShowCaseFoods = Model.ShowCaseFoods;

   string[,] hoursArray = new string[7, 2]
        {
           {"Saturday","09am to 11pm"},
           {"Sunday","Closed"},
           {"Monday","09 to 11pm"},
           {"Tuesday","09 to 11pm"},
           {"Wednesday","09 to 11pm"},
           {"Thursday","09 to 10pm"},
           {"Friday","Closed"}
        };

    if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    else
    {
        <div id="showcase" class="mb-5 d-flex justify-content-center align-items-center">
            <div id="showcase-text" class="text-md-start text-center w-50 ">
                <h1>
                    The Fastest Food Delivery in <span>Quebec</span>
                </h1>
                <p class="d-block fs-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nam delectus sed, vel quaerat, libero nesciunt debitisdoloribus! Temporibus officia.
                </p>
                <br />
                <a id="btn-order" asp-action="Index" asp-controller="Menu" class="btn btn-dark d-xs-block fs-5">
                    Order Now
                </a>
            </div>
            @{
                if (ShowCaseFoods is not null && ShowCaseFoods.Any())
                {
                    <div id="showcase-carousel" class="w-50 d-none d-md-block">
                        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                @{
                                    //var j = 0;
                                    for(var j = 0; j < ShowCaseFoods.Count; j++)
                                    {
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")" aria-current="@(j==0)" aria-label="Slide @(j+1)"></button>

                                    }
                                }
        
                            </div>
                            <div class="carousel-inner">
                                @{
                                    var i = 0;
                                    foreach (var item in ShowCaseFoods)
                                    {
                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <div class="mx-auto d-flex align-items-center justify-content-center" style="height: 300px; width: 300px;">
                                                <img src="@Url.Content("~/img/" + item.ImageURL)" class=" img-fluid" alt="@item.Title">
                                            </div>

                                            <div class="text-center pb-3">
                                                <h5>@item.Title</h5>
                                                <p>@item.Description <br /><strong>$@item.Price</strong></p>

                                            </div>
                                        </div>
                                        i++;
                                    }
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
        <partial name="_MenuPartial" />
        <!-- Open Hours section-->
        <section class="mt-4">
        <h2>Our Working Hour</h2>
        <br/>
            <div class="working-hour-container d-flex">
                <div class="working-hour-text w-50 text-white bg-dark">
                    <h3 class="text-center my-3 mb-3">Opening Hour</h3>
                    <br/>
                    <ul class="working-hour-ul mx-auto w-75 border border-white d-flex p-0 flex-column align-items-center justify-content-center">
                        @for (var item = 0; item < hoursArray.GetLength(0); item++)
                        {
                            var day = hoursArray[item, 0];
                            var hours = "  " + hoursArray[item, 1];
                            hours = hours.PadLeft(hours.Length + 30, '.');

                            <li class="d-flex w-75 my-3 fs-6">
                                <span class="d-block w-25 me-3">@day</span><span class="d-block">@hours</span>
                            </li>
                        }
                    </ul>
                </div>

                <div class="w-50 working-hour-img"><div/>
            </div>
        </section>
    }
}
