@model FoodDeliveryWebApp.Models.OrderViewModel;
@{
    ViewData["Title"] = "Order Page";

    var Order = Model?.Order;
    var Address = Model?.ShippingAddress;
    var OrderItems = Model?.OrderItems;
    var Payment = Model?.Payment;

    if (TempData["Result"] != null && TempData["Result"] != "")
    {
        <div class="alert alert-info" role="alert">
            @TempData["Result"]
        </div>
    }
    if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    else
    {
        <h1>OrderScreen : @Order.Id</h1>
        <div class="row">
            <div class="col-12 col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Shipping</h2>
                        <p>
                            <strong>Name: </strong>
                        </p>
                        <p>
                            <strong>Address: </strong>
                            @Address.Address, @Address.City, 
                            @Address.PostalCode,
                            @Address.Country
                        </p>

                        @{
                            if (Order.IsDelivered)
                            {
                                <div class="alert alert-success" role="alert">
                                    Delivered on <i>Delivery Date Soon</i>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    Not Delivered
                                </div>
                            }
                        }
                    </li>

                    <li class="list-group-item">
                        <h2>Payment Method</h2>                       
                            
                            @{
                                if (Order.IsPaid)
                                {
                                    <p><strong>Method: </strong>@Payment.PaymentMethod</p>
                                    <p><strong>Transaction Number: </strong>@Payment.TransactionID</p>
                                    <div class="alert alert-success" role="alert">
                                        Paid on @Payment.CreatedDate
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Not Paid
                                    </div>
                                }
                            }                       
                    </li>
                    <li class="list-group-item">
                        @await Html.PartialAsync("_OrderItemsPartial", OrderItems)                        
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2>Order Summary</h2>                            
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Items</div>
                                <div class="col">$@($"{Order.ItemsPrice:N2}")</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Tax</div>
                                <div class="col">$@Order.TaxPrice</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Shipping</div>
                                <div class="col">$@Order.DeliveryFee</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Total</div>
                                <div class="col">@(Order is null ? "0.00" : $"{Order.TotalPrice:N2}")</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
