@model FoodDeliveryWebApp.Models.CartViewModel;
@{
    ViewData["Title"] = "Order Page";

    var Cart = Model?.cart;
    var Address = Model?.ShippingAddress;
    var OrderItems = Model?.OrderItems;

    if (TempData["Result"] != null && TempData["Result"] != "")
    {
        <div class="alert alert-info" role="alert">
            @TempData["Result"]
        </div>
    }
    if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    else
    {
        <h1>OrderScreen : @Cart.Id</h1>
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Shipping</h2>
                        <p>
                            <strong>Name: </strong>
                        </p>
                        <p>
                            <strong>Address: </strong>
                            @Address.Address, @Address.City, 
                            @Address.PostalCode,
                            @Address.Country
                        </p>
                    </li>

                    <li class="list-group-item">
                        <h2>Payment Method</h2>
                        <p>
                            <strong>Method: </strong>
                            @TempData["PaymentMethod"]
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h2>Order Items</h2>
                        @{
                            if (OrderItems is null || OrderItems.Count == 0)
                            {
                                <div class="alert alert-info" role="alert">
                                    Order is empty
                                </div>
                            }
                            else
                            {
                                <ul class="list-group">
                                    @foreach (var item in OrderItems)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="@Url.Content("~/img/" + item.ImageURL)" />
                                                </div>
                                                <div class="col">
                                                    @item.Title
                                                </div>
                                                <div class="col-4">
                                                    @item.Qty X @item.Price = $ @(item.Qty * (item.Price * 100) / 100)
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                        }
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2>Order Summary</h2>                            
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Items</div>
                                <div class="col">$@($"{Cart.ItemsPrice:N2}")</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Tax</div>
                                <div class="col">$@Cart.TaxPrice</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Shipping</div>
                                <div class="col">$@Cart.ShippingPrice</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Total</div>
                                <div class="col">@(Cart is null ? "0.00" : $"{Cart.TotalPrice:N2}")</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
