@model IEnumerable<FoodDeliveryWebApp.Models.Food>

@if (Model != null && Model.Any())
{
    <div id="card-group">
        @foreach (var item in Model)
        {
            <div class="card m-1">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="@Url.Content("~" + item.ImageURL)" class="w-50" alt="@item.Title image" />
                        <div>
                            <a class="d-inline btn btn-primary btn-add" asp-controller="Food" asp-action="Index" asp-route-id="@item.Id" id=" @item.Id">+</a>
                        </div>
                    </div>

                    <h5 class="card-title text-end">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <span class="d-block card-text text-end">@Html.DisplayFor(modelItem => item.Description)</span>

                    <span class="d-block card-text text-end">$@Html.DisplayFor(modelItem => item.Price)</span>
                </div>
            </div>
        }
    </div>
}


